<%- include('./layouts/header', {title: 'sign up'}); -%>
<section class="signUp_page h-100 d-flex align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <img class="img-fluid" src="../img/back.jpg" alt="">
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('./layouts/footer'); -%>